<div class="flex justify-center items-center mx-70 my-20 w-full">
    <div class="flex flex-col items-center flex-1 text-center">
        <img [src]="imagenUrl2" alt="Descripción de la imagen" class="mb-10">
        <div class="w-[700px] h-[127px] text-justify text-black text-[32px] font-extrabold font-['Inter'] hover:text-red-500 transition-colors">Graduación Promoción 2017-2023</div>
    </div>
    <div class="flex flex-col items-center flex-1 text-center">
        <img [src]="imagenUrl3" alt="Descripción de la imagen" class="mb-10">
        <div class="w-[700px] h-[127px] text-justify text-black text-[32px] font-extrabold font-['Inter'] hover:text-red-500 transition-colors">Jornadas Deportivas 2023-2024</div>
    </div>
</div>
