<div class="flex flex-col md:flex-row justify-center items-center mx-30 my-20 w-full h-full">
    <div class="flex flex-col items-center text-center mb-8 md:mb-0 md:mr-4 w-full">
        <img [src]="imagenUrl2" alt="Descripción de la imagen" class="mb-4 rounded-3xl w-full max-w-[700px] h-auto">
        <div class="border p-5 rounded-lg w-full max-w-[700px] text-justify text-black text-[10px] md:text-[25px] font-extrabold font-sans hover:text-blue-700 transition-colors">
            Graduación Promoción 2017-2023
        </div>
    </div>
    <div class="flex flex-col items-center text-center w-full">
        <img [src]="imagenUrl3" alt="Descripción de la imagen" class="mb-4 rounded-3xl w-full max-w-[700px] h-auto">
        <div class="border p-5 rounded-lg w-full max-w-[700px] text-justify text-black text-[10px] md:text-[25px] font-extrabold font-sans hover:text-blue-700 transition-colors">
            Jornadas Deportivas 2023-2024
        </div>
    </div>
</div>
