<div class="flex justify-center items-center mx-2 my-20 w-full space-x-8">
    <div class="flex-1 max-w-[350px]">
        <div class="h-full border-2 border-blue-950 p-4 rounded-md flex flex-col justify-between">
            <div>
                <div class="text-center text-black text-[32px] font-extrabold font-['Inter'] mb-4">Proyectos Educativos</div>
                <img [src]="imagenUrl4" alt="Descripción de la imagen" class="mb-5 rounded-3xl shadow-lg">
                <div class="text-start text-black text-[18px] font-normal font-['Inter'] mb-4">
                    La institución fomenta la participación activa en proyectos interdisciplinarios, cultivando habilidades críticas y creativas. Este enfoque integral proporciona a los estudiantes las herramientas necesarias para enfrentar los desafíos del mundo actual con confianza y éxito.
                </div>
            </div>
            <div class="text-blue-500 text-start text-[18px] font-bold font-['Inter'] transition-colors hover:text-black p-2">Más Información...</div>
        </div>
    </div>

    <div class="flex-1 max-w-[350px]">
        <div class="h-full border-2 border-blue-950 p-10 rounded-md flex flex-col justify-between">
            <div>
                <div class="text-center text-black text-[32px] font-extrabold font-['Inter'] mb-4">Semana Cultural</div>
                <img [src]="imagenUrl5" alt="Descripción de la imagen" class="mb-5 rounded-3xl shadow-lg">
                <div class="text-start text-black text-[18px] font-normal font-['Inter'] mb-4">
                    Durante esta semana, los estudiantes participan en exposiciones artísticas, presentaciones musicales, ferias de conocimiento, jornadas gastronómicas, conferencias y competiciones deportivas
                </div>
            </div>
            <div class="text-blue-500 text-center text-[18px] font-bold font-['Inter'] transition-colors hover:text-black p-4">Más Información...</div>
        </div>
    </div>

    <div class="flex-1 max-w-[350px]">
        <div class="h-full border-2 border-blue-950 p-2 rounded-md flex flex-col justify-between">
            <div>
                <div class="text-center text-black text-[32px] font-extrabold font-['Inter'] mb-4">Futuro Digital</div>
                <img [src]="imagenUrl6" alt="Descripción de la imagen" class="mb- rounded-3xl shadow-lg">
                <div class="text-start text-black text-[18px] font-normal font-['Inter']">
                    Se fomenta el uso responsable de la tecnología y se promueve la conciencia sobre cuestiones éticas y de seguridad en línea, para adaptarse a un entorno digital en constante evolución, asegurando así que estén bien equipados para enfrentar los desafíos tecnológicos del futuro.
                </div>
            </div>
            <div class="text-blue-500 text-center text-[18px] font-bold font-['Inter'] transition-colors hover:text-black p-4">Más Información...</div>
        </div>
    </div>
</div>
