<div class="w-[1490px] h-[100px] bg-blue-950 text-white flex justify-center items-center mx-auto">
    <p class="md:w-[300px] text-xl md:text-2xl text-center font-bold hover:underline hover:shadow-md hover:text-blue-500 transform hover:scale-110 transition-all duration-300 my-2 md:my-0 p-4">
        Admisiones
    </p>
    <p class="md:w-[300px] text-xl md:text-2xl text-center font-bold hover:underline hover:shadow-md hover:text-blue-500 transform hover:scale-110 transition-all duration-300 my-2 md:my-0 p-4">
        Quienes Somos
    </p>
    <p class="md:w-[300px] text-xl md:text-2xl text-center font-bold hover:underline hover:shadow-md hover:text-blue-500 transform hover:scale-110 transition-all duration-300 my-2 md:my-0 p-4">
        Oferta Académica
    </p>
    <p class="md:w-[300px] text-xl md:text-2xl text-center font-bold hover:underline hover:shadow-md hover:text-blue-500 transform hover:scale-110 transition-all duration-300 my-2 md:my-0 p-4">
        Servicios
    </p>
    <p class="md:w-[300px] text-xl md:text-2xl text-center font-bold hover:underline hover:shadow-md hover:text-blue-500 transform hover:scale-110 transition-all duration-300 my-2 md:my-0 p-4">
        Redes Sociales
    </p>
    <p class="md:w-[300px] text-xl md:text-2xl text-center font-bold hover:underline hover:shadow-md hover:text-blue-500 transform hover:scale-110 transition-all duration-300 my-2 md:my-0 p-4">
        Contáctenos
    </p>
</div>
