<div class="bg-blue-900 text-white p-4 rounded-lg flex">
    <p class="flex-1 text-4xl text-center hover:bg-white hover:text-blue-500">Admisiones</p>
    <p class="flex-1 text-4xl text-center hover:bg-white hover:text-blue-500">Quienes Somos</p>
    <p class="flex-1 text-4xl text-center hover:bg-white hover:text-blue-500">Oferta Académica</p>
    <p class="flex-1 text-4xl text-center hover:bg-white hover:text-blue-500">Servicios</p>
    <p class="flex-1 text-4xl text-center hover:bg-white hover:text-blue-500">Contáctenos</p>
</div>
