<div class="bg-blue-950 text-white flex flex-wrap justify-center items-center border-t-4 border-white border-b-4">
    <div class="flex-1 w-full md:w-[400px] lg:w-[400px] text-center mb-2 md:mb-0 md:mr-4 p-1">
        <p class="text-[13px] font-extrabold font-sans">Enlaces De Interés <br><br>
            <span class="hover:text-blue-300">D.E.C.E<br/></span>
            <span class="hover:text-blue-300">Movimiento Juvenil<br/></span>
            <span class="hover:text-blue-300">Ministerio de Educación del Ecuador</span>
        </p>
    </div>
    <div class="flex-1 w-full md:w-[400px] lg:w-[400px] text-center mb-4 md:mb-0 md:mr-4  p-4">
        <p class="text-[10px] font-extrabold font-sans">Contáctanos<br/><br/>
            <span class="hover:text-blue-300">📞 Teléfono Principal: (555) 123-4567<br/></span>
            <span class="hover:text-blue-300">🏙 Oficina Administrativa: (555) 987-6543<br/></span>
            <span class="hover:text-blue-300">☎ Línea Directa de Información: (555) 876-5432i<br/></span>
            <span class="hover:text-blue-300">✉ Email instituciona</span>
        </p>
    </div>
    <div class="flex-1 w-full md:w-[400px] lg:w-[400px] text-center mb-4 md:mb-0 md:mr-4 p-3">
        <p class="text-[13px] font-extrabold font-sans">Comunidad Virtual<br/><br>
            <span class="hover:text-blue-300">⚪ Tik Tok<br/></span>
            <span class="hover:text-blue-300">⚪ Facebook <br/></span>
            <span class="hover:text-blue-300">⚪ Twitter </span>
        </p>
    </div>
    <div class="w-full mt-4 text-center border-t-4 border-white p-3">
        <p class="text-[10px] text-neutral-300 font-extrabold font-sans">
            "© 2024 Unidad Educativa Paccha. Todos los derechos reservados. Este documento refleja la dedicación de la institución hacia la excelencia educativa y la preparación integral de los estudiantes para el mundo digital en constante evolución."
        </p>
    </div>
</div>
