<div class="bg-blue-900 text-white p-4 rounded-lg flex flex-wrap justify-center items-center w-full h-[400px]">
    <div class="flex-1 w-full md:w-[341px] h-[313px] text-center mb-4 md:mr-4">
        <p class="text-3xl font-extrabold font-['Inter']">Links De Interés <br><br>
            <span class="hover:text-red-500">D.E.C.E<br/></span>
            <span class="hover:text-red-500">Movimiento Juvenil<br/></span>
            <span class="hover:text-red-500">Ministerio de Educación del Ecuador</span>
        </p>
    </div>
    <div class="flex-1 w-full md:w-[406px] h-[231px] text-center mb-4 md:mr-4">
        <p class="text-3xl font-extrabold font-['Inter']">Teléfonos<br/><br/>
            <span class="hover:text-red-500">Teléfono Principal: (555) 123-4567<br/></span>
            <span class="hover:text-red-500">Oficina Administrativa: (555) 987-6543<br/></span>
            <span class="hover:text-red-500">Línea Directa de Información: (555) 876-5432i</span>
        </p>
    </div>
    <div class="flex-1 w-full md:w-[341px] h-[313px] text-center mb-4">
        <p class="text-3xl font-extrabold font-['Inter']">Servicios En La Red<br/><br>
            <span class="hover:text-red-500">Email institucional<br/></span>
            <span class="hover:text-red-500">Facebook<br/></span>
            <span class="hover:text-red-500">Twitter </span>
        </p>
    </div>
    <div class="w-full mt-4 text-center">
        <p class="text-2xl text-white font-extrabold font-['Inter']">
            "© 2024 Unidad Educativa Paccha. Todos los derechos reservados. Este documento refleja la dedicación de la institución hacia la excelencia educativa y la preparación integral de los estudiantes para el mundo digital en constante evolución."
        </p>
    </div>
</div>


